* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  font-family: 'Lato', sans-serif;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid rgb(216, 37, 37);
  text-align: center;
  background-color: #806565;
  box-shadow: 5px 10px #888;
}

nav {
  background-color: #ca7272;
  padding: 40px;
  height: auto;
  font-family: "Roboto", sans-serif;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  font-size: 35px;
}

nav li {
  border-right: 4px solid #003557;
  padding: 5px 5px;
  border-left: 4px solid #003557;
  padding-right: 10px;
  transition: all 0.3s linear;
}

nav li a {
  text-decoration: none;
  color: white;
}

#store {
  margin: 0 auto;
  padding: 25px 20px;
}

.empty {
  justify-content: space-around;
  align-items: center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.remove {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
}

hr {
  width: 100%;
}

.content {
  text-align: center;
  padding: 7px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10fr 10fr 10fr;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
  background-color: aliceblue;
}



#addQuote {
  display: none;
  transition: all 0.5s;
  padding: 15px;
  margin: 20px;
  align-items: center;
}

#contact {
  display: none;
  transition: all 0.5s;
  padding: 40px;
}

.dateAndTime {
  text-align: right;
  padding-right: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

#store {
  margin: 0 auto;
  padding: 25px 20px;
  text-align: center;
}

textarea {
  width: 80%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 1;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 150px;
}

input {
  width: 80%;
  resize: vertical;
  padding: 15px;
  border-radius: 9px;
  border: 1;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 25px;
}

#addTitle {
  text-align: center;
}

button {
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 0.75rem;
  color: #dfbfbf;
  background: #326bb0bc;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: small;
  text-align: center;
}

#add-btn {
  width: 30%;
}

::placeholder {
  color: rgb(53, 187, 192);
  text-transform: lowercase;
  font-style: italic;
}

footer {
  padding: 20px;
}
